<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//MyBatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.BoardRepository">

    <!-- 게시글 리스트 조회  -->
    <select id="getAllBoardList" resultType="Board">
        SELECT * FROM BOARD WHERE DELETE_YN != 'Y';
    </select>

    <!-- 상세 게시글 리스트 조회  -->
    <select id="getBoardItem" resultType="Board" parameterType="int">
        SELECT * FROM BOARD WHERE BOARD_ID = #{boardId};
    </select>

    <!--  게시글 등록  -->
    <update id="insertBoard" parameterType="Board">
        INSERT INTO BOARD (TITLE, CONTENT, VIEWS, TAGS, CREATED_AT, UPDATED_AT, DELETE_YN)
        VALUES (#{title}, #{content}, #{views}, #{tags}, NOW(), NOW(), 'N')
    </update>

    <!--  게시글 삭제  -->
    <update id="softDeleteBoard" parameterType="int">
        UPDATE BOARD SET DELETE_YN = 'Y' WHERE BOARD_ID = #{boardId}
    </update>

    <!--  게시글 수정  -->
</mapper>